.content-nav {
  height: auto;

  .hamburger-menu {
    display: none;

    .hamburger-menu-icon {
      display: none;
    }
  }

  .navbar-wrapper {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .return {
    display: flex;
    width: auto;
    padding: 10px;

    #main-icon {
      fill: var(--icon-fill);
    }
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    ul {
      justify-content: flex-end;
      li {
        .link {
          color: var(--link);
          font-size: medium;
        }

        .bold-link {
          font-weight: bold;
          color: var(--link);
        }
        a:hover {
          color: var(--link-button);
          transition: color 120ms;
        }
      }

      .margin {
        margin: 0;
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;

    div{
      padding: 10px;
    }

    .selected {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      transition: background-color 300ms;
    }

    .selected:hover {
      background-color: var(--link-button);
      transition: background-color 300ms;
    }
  }
}
