.container {
  .details-container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    margin-top: 200px;
    width: 80rem;

    .image{
      width: 40%;
    }

    .description{
      width: 50%;
      margin-left: 20px;

      h2{
        margin-left: 0;
      }
    }
  }

  .project-options {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 300px;

    .margin {
      margin: 50px;

      button{
        display: inline-block;
        font-size: 17px;
        color: var(--background-color-three);
        border: 0;
        border-radius: 5px;
        background-color: var(--link-button);
      }

      button:hover{
        background-color: var(--link-button-hover);
        transition: background-color 120ms;
      }

      .button-edit {
        display: inline-block;
        font-size: 17px;
        color: var(--background-color-three);
        border: 0;
        border-radius: 5px;
        background-color: var(--warning);
      }

      .button-edit:hover {
        background-color: var(-waringn-hover);
        transition: background-color 120ms;
      }

      .button-delete {
        display: inline-block;
        font-size: 17px;
        color: var(--background-color-three);
        border: 0;
        border-radius: 5px;
        background-color: var(--danger);
      }

      .button-delete:hover {
        background-color: var(--danger-hover);
        transition: background-color 120ms;
      }
    }
  }
}
