@media screen and (min-width:  575px) and (max-width: 1299px) {
  .container {
    height: auto;
    .details-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin-top: 50px;

      .image {
        width: 60%;
        margin-top: 150px;
      }

      .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        margin-top: 55px;
        margin-bottom: 55px;
        width: 80%;
        text-align: start;
        align-self: center;

        h2 {
          font-size: medium;
        }
      }
    }
  }
}

/* Teléfonos */
@media screen and (max-width: 575px) {
  .container {
    height: auto;
    .details-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin-top: 50px;

      .image {
        width: 80%;
        margin-top: 0;
      }

      .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        margin-top: 55px;
        margin-bottom: 55px;
        width: 80%;
        text-align: start;
        align-self: center;

        h2 {
          font-size: medium;
        }
      }
    }

    .project-options {
      display: flex;
      width: auto;
      margin-bottom: 35px;

      .margin {
        margin: 20px;

        .button-edit {
          display: inline-block;
          font-size: 17px;
          color: var(--background-color-three);
          border: 0;
          border-radius: 5px;
          background-color: var(--warning);
        }

        .button-edit:hover {
          background-color: var(--warning--hover);
          transition: background-color 120ms;
        }

        .button-delete {
          display: inline-block;
          font-size: 17px;
          color: var(--background-color-three);
          border: 0;
          border-radius: 5px;
          background-color: var(--danger);
        }

        .button-delete:hover {
          background-color: var(--danger-hover);
          transition: background-color 120ms;
        }
      }
    }
  }
}
