<header class="header header-dark">
  <app-navbar></app-navbar>
</header>
<div *ngIf="project" class="container">
  <div class="details-container">
    <img
      alt="proyecto imagen"
      class="image"
      src="{{ url + 'get-image/' + project.image }}"
      *ngIf="project.image"
    />
    <div class="description">
      <h1>{{ project.name }}</h1>
      <br>
      <p>{{ project.description }}</p>
    </div>
  </div>
  <div *ngIf="showAdminOptions" class="project-options">
    <div class="margin">
      <button
        [routerLink]="['/editar-proyecto', project._id]"
        class="button-edit"
      >
        Editar
      </button>
    </div>
    <div class="margin">
      <button (click)="deleteProject(project._id)" class="button-delete">
        Borrar
      </button>
    </div>
  </div>
  <div *ngIf="!showAdminOptions" class="project-options">
    <div class="margin">
     <a target="blanck" href="{{ project.codeLink }}">
      <button class="link-button">  
        Ver código
      </button>
    </a>
    </div>
    <div class="margin">
      <a target="blanck" href="{{ project.webLink }}">
          <button class="link-button">
          Visitar web
        </button>
        </a>
    </div>
  </div>
</div>
<app-footer class="footer-content"></app-footer>
