<footer class="footer">
  <section class="contact">
    <div class="goodbye-message">
      <h3>Gracias por tu visita :)</h3>
    </div>
    <h4>Si te ha gustado esta web, házmelo saber:</h4>
    <!-- <a [routerLink]="['/contacto']"class="send-message">
                    <h3>Enviar mensaje</h3>
                </a> -->
  </section>
  <div class="social-media-contact">
    <a  target="_blank" href="https://twitter.com/DanielArturoBe3">
     <img src="/assets/svgs/x-social-media.svg">
    </a>
    <a  target="_blank" href="https://www.facebook.com/danielarturo.berroteran.5?locale=es_ES">
      <img src="/assets/svgs/facebook.svg">
    </a>
    <a  target="_blank" href="https://www.instagram.com/danielartberroteran/">
      <img src="/assets/svgs/instagram.svg">
    </a>
  </div>
  <p class="license">Licencia - MIT Creado por: Daniel Berroterán</p>
</footer>
