<div class="about-header">
  <div class="image-mask">
    <img alt="Daniel Beroterán foto"
      width="200px"
      height="200px"
      src=" ../../../assets/images/1642845407884.jpeg"
    />
  </div>
  <div class="header-title">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="container">
  <section class="about">
    <h2>sobre mi</h2>
    <p class="text">
      Estudio programación desde el año 2021, empecé en este campo realizando un
      curso presencial de 5 meses donde aprendí a usar, <strong><i>Python</i></strong>, <strong><i>C# y Java</i></strong>,
      también aprendí los fundamentos de la programación tanto estructurada como
      Orientadada a objetos, y a hacer interfaces gráficas para aplicaciones de
      escritorio con lenguajes como <strong><i>XAML</i></strong> para proyectos <strong><i>WPF</i></strong>, y la librería <strong><i>PYQT</i></strong>,
      junto con la GUI <strong><i>QT Designer</i></strong> para proyectos en <strong><i>Python</i></strong>.<br /><br />
    </p>
    <p class="text">
      Posteriormente me interesé por el desarrollo web y aprendí por mi cuenta y
      por medio de cursos Online los lenguajes de la web, cómo <strong><i>HTML5, CSS3,
      JavaScript y PHP</i></strong>. De los cuales me he especializado en estos dos últimos
      aprendiendo a usar frameworks como <strong><i>Angular y Laravel</i></strong>, en mis proyectos
      procuro utilizar patrones de diseño, como el MVC, el modelo de servicios rest y código limpio
      legible y reutilizable.<br /><br />
    </p>

    <p class="text">
      También tengo una buena base de conocimiento en lenguaje <strong><i>SQL</i></strong> y notación
      json para bases de datos relacionales y no relacionales. Me gusta seguir
      aprendiendo todos los días, para mejorar mi lógica y especializarme en las
      herramientas más potentes y que más demanda de talentos requiere el sector
      del desarrollo.<br /><br />
    </p>

    <h2>Cursos realizados</h2>
    <div class="learnings">
      <ul>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=35">
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Programación de sistemas informáticos
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=32">
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">VPS Seguro en Ubuntu 18.04 con Letsencrypt Nginx PHP y MySQL
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=29">
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Master en webs Full Stack: Angular, Node, Laravel, Symfony +
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=26"> 
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Master en TypeScript, JavaScript Moderno, ES2022, APIs HTML5
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=23"> 
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress +
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=20">
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=17">
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=14">
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Curso de Git y la Terminal de comandos -Para programadores
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=10"> 
            <img alt="icono de enlace" src="../../../assets/images/icons8-linking-96.png">Curso de Angular Avanzado: MEAN, JWT, Módulos, Animaciones
          </a>
        </li>
      </ul>
    </div>
  </section>
<app-footer class="footer-content"></app-footer>
</div>
