<div class="about-header">
  <div class="image-mask">
    <img
      width="200px"
      height="200px"
      src=" ../../../assets/images/Polish_20230205_122249087.jpg"
    />
  </div>
  <div class="header-title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
  </div>
</div>
<div class="container">
  <section class="about">
    <h2>sobre mi</h2>
    <p class="text">
      Estudio programación desde el año 2021, empecé en este campo realizando un
      curso presencial de 5 meses donde aprendí a usar, Python, C# y Java,
      también aprendí los fundamentos de la programación tanto estructurada como
      Orientadada a objetos, y a hacer interfaces gráficas para aplicaciones de
      escritorio con lenguajes como XAMP para proyectos WPF, y la librería PYQT,
      junto con la GUI QT Designer para proyectos en Python.<br /><br />
    </p>
    <p class="text">
      Posteriormente me interese por el desarrollo web y aprendí por mi cuenta y
      por medio de cursos Online los lenguajes de la web, cómo HTML5, CSS3,
      JavaScript y PHP. De los cuales me he especializado en estos dos últimos
      aprendiendo a usar frameworks como Angular y Laravel, en mis proyectos
      utilizo patrones de diseño, como el MVC, y el modelo de servicios rest.<br /><br />
    </p>

    <p class="text">
      También tengo una buena base de conocimiento en lenguaje SQL y notación
      json para bases de datos relacionales y no relacionales. Me gusta seguir
      aprendiendo todos los días, para mejorar mi lógica y especializarme en las
      herramientas más potentes y que más demanda de talentos requiere el sector
      del desarrollo.<br /><br />
    </p>

    <h2>Cursos realizados</h2>
    <div class="learnings">
      <ul>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=35">
            <img src="../../../assets/images/icons8-linking-96.png">Programación de sistemas informáticos
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=32">
            <img src="../../../assets/images/icons8-linking-96.png">VPS Seguro en Ubuntu 18.04 con Letsencrypt Nginx PHP y MySQL
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=29">
            <img src="../../../assets/images/icons8-linking-96.png">Master en webs Full Stack: Angular, Node, Laravel, Symfony +
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=26"> 
            <img src="../../../assets/images/icons8-linking-96.png">Master en TypeScript, JavaScript Moderno, ES2022, APIs HTML5
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=23"> 
            <img src="../../../assets/images/icons8-linking-96.png">Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress +
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=20">
            <img src="../../../assets/images/icons8-linking-96.png">Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=17">
            <img src="../../../assets/images/icons8-linking-96.png">Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=14">
            <img src="../../../assets/images/icons8-linking-96.png">Curso de Git y la Terminal de comandos -Para programadores
          </a>
        </li>
        <li>
          <a target="_blank" href="http://185.77.96.216:8081/?p=10"> 
            <img src="../../../assets/images/icons8-linking-96.png">Curso de Angular Avanzado: MEAN, JWT, Módulos, Animaciones
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
