.about-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 150px;

  .image-mask {
    width: auto;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 200px;
      height: 200px;
    }
  }

  .header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.container {
  height: auto;

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
      margin-top: 0;
      margin-bottom: 20px;
    }

    .text {
      display: inline;
      justify-content: center;
      width: 60%;
      font-size: 22px;
      line-height: 40px;
      height: auto;
    }

    .learnings {
      display: flex;
      justify-content: flex-start;
      left: 0;
      margin-top: 40px;
      margin-bottom: 100px;
      width: 65%;
      align-self: center;
      ul {
        display: flex;
        flex-direction: column;
        width: auto;
        line-height: 25px;

        li{
          margin-bottom: 10px;
          a{
            font-size: 18px;
            img{
              height:20px;
              margin-right: 10px;
            }
          }
          a:hover {
            color:  var(--link-button);
            transition: color 120ms;
            font-size: 18px;
          }
        }
      }
    }
  }
}
