<div class="about-header">
  <div class="image-mask">
    <img width="200px" height="200px"src=" ../../../assets/images/Polish_20230205_122249087.jpg">
  </div>
  <div class="header-title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
  </div>
</div>
<div class="container">
  <section class="about">
    <h2>sobre mi</h2>
    <p class="text">
      Sobre mi Daniel Arturo Berroterán Navarro Estudio programación desde el
      año 2021 Empecé en este campo realizando un curso presencial de 5 meses
      donde aprendí a usar, Python, C# y java, también aprendí los fundamentos
      de la programación tanto estructurada como POO, y a hacer interfaces
      gráficas para aplicaciones de escritorio con lenguajes como XAMP para
      proyectos WPF, y la librería PYQT, junto con la GUI QT Designer para
      proyectos en Python.<br><br>
    </p>
    <p class="text">
      Posteriormente me interese por el desarrollo web y aprendí por mi cuenta y
      por medio de cursos Online los lenguajes de la web, cómo html, css,
      JavaScript y PHP. De los cuales me he especializado en estos dos últimos
      aprendiendo a usar frameworks como Angular y Laravel, en mis proyectos
      utilizo patrones de diseño, como el MVC, y el modelo de servicios
      restfull.<br><br>
    </p>
    
    <p class="text">
      También tengo una buena base de conocimiento en lenguaje SQL y notación
      json para bases de datos relacionales y no relacionales. Me gusta seguir
      aprendiendo todos los días, para mejorar mi lógica y especializarme en las
      herramientas más potentes y que más demanda de talentos requiere el sector
      del desarrollo.<br><br>
    </p>
    
    <h2>Cursos realizados</h2>
    <div class="learnings">
      <ul>
        <li>
          <a> Curso de Angular Avanzado: MEAN, JWT, Módulos, Animaciones </a>
        </li>
        <li>
          <a> Curso de Git y la Terminal de comandos - Para programadores</a>
        </li>
        <li>
          <a> Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap</a>
        </li>
        <li>
          <a> Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS</a>
        </li>
        <li>
          <a> Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress +</a>
        </li>
        <li>
          <a> Master en TypeScript, JavaScript Moderno, ES2023, APIs HTML5</a>
        </li>
        <li>
          <a> Master en webs Full Stack: Angular, Node, Laravel, Symfony +</a>
        </li>
        <li>
          <a> Programación de sistemas informáticos</a>
        </li>
      </ul>
    </div>
  </section>
</div>
