.content-nav {
  height: auto;

  .hamburger-menu {
    display: none;

    .hamburger-menu-icon {
      display: none;
    }
  }

  .navbar-wrapper {
    display: flex;
    justify-content: center;
  }

  .hidden {
    display: none;
  }

  .return {
    display: flex;
    align-self: center;
    width: auto;
    margin-left: 25px;

    #main-icon {
      fill: #383838;
    }
  }

  .menu-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
    width: 60%;

    ul {
      justify-content: flex-end;
      li {
        a:hover {
          color: #00b8d4;
          transition: color 120ms;
        }
      }

      .margin {
        margin: 0;
      }
    }
  }

  .social-media {
    display: flex;
    margin-bottom: 5px;
    margin-left: 20px;
    align-items: center;

    a{
      margin-right: 30px;

      #linkedin-icon {
        width: 25px;
        height: 30px;
        fill: #383838;
      }
  
      #github-icon {
        width:20px;
        height: 24px;
        fill: #383838;
      }
    }


    .selected {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      transition: background-color 300ms;
    }

    .selected:hover {
      background-color: rgb(0, 184, 212);
      transition: background-color 300ms;
    }
  }
}
