@import "src/share-main-styles.scss";

.skills-card-image {
  height: 310px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
  .skills-card-image {
    position: relative;
    z-index: -2;
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 0px;
  }
}
