<div class="icons-family" [ngSwitch]="iconsFamily">
  <div *ngSwitchCase="'dataSource'" class="data-source d-flex flex-column">
    <h4 class="title-icon">Tecnologías</h4>
    <div class="d-flex flex-row">
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image icon-mysql" src="../../../assets/svgs/mysql.svg" />
        <p class="icon-name">Mysql</p>
      </div>
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image" src="../../../assets/svgs/mongodb.svg" />
        <p class="icon-name">Mongodb</p>
      </div>
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image" src="../../../assets/svgs/json.svg" />
        <p class="icon-name">Json</p>
      </div>
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image" src="../../../assets/svgs/sql-developer.svg" />
        <p class="icon-name">Sql Developer</p>
      </div>
    </div>
  </div>
  <div class="icons-family" *ngSwitchCase="'algorithms'" class="algorithms d-flex flex-column">
    <h4 class="title-icon">Tecnologias</h4>
    <div class="d-flex flex-row">
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/spring.svg" />
        <p class="icon-name">Spring</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/angular.svg" />
        <p class="icon-name">Angular</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/laravel.svg" />
        <p class="icon-name">Laravel</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/java.svg" />
        <p class="icon-name">Java</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/jquery.svg" />
        <p class="icon-name">Jquery</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/js.svg" />
        <p class="icon-name">JavaScript</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/php.svg" />
        <p class="icon-name">Php</p>
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="../../../assets/svgs/ts.svg" />
        <p class="icon-name">TypeScript</p>
      </div>
    </div>
  </div>
  <div class="icons-family" *ngSwitchCase="'layout'" class="layout d-flex flex-column">
    <h4 class="title-icon">Tecnologias</h4>
    <div class="d-flex flex-row">
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/html.svg" />
        <p class="icon-name">HTML5</p>
      </div>
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/scss.svg" />
        <p class="icon-name">Sass</p>
      </div>
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/bootstrap.svg" />
        <p class="icon-name">Bootstrap</p>
      </div>
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/css.svg" />
        <p class="icon-name">CSS3</p>
      </div>
    </div>
  </div>
</div>
