<div [ngSwitch]="iconsFamily">
  <div *ngSwitchCase="'dataSource'">
    <div class="icons-family-container d-flex flex-row">
      <div class="icon-container icon-container-dataSource">
        <img
          class="icon-image icon-mysql"
          src="/assets/svgs/mysql.svg"
        />
      </div>
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image" src="/assets/svgs/mongodb.svg" />
      </div>
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image" src="/assets/svgs/json.svg" />
      </div>
      <div class="icon-container icon-container-dataSource">
        <img class="icon-image" src="/assets/svgs/database_oracle.svg"/>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'algorithms'"
  >
    <div class="icons-family-container d-flex flex-row">
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/spring.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/angular.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/laravel.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/java.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/jquery.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/js.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/php.svg" />
      </div>
      <div class="icon-container icon-container-algorithms">
        <img class="icon-image" src="/assets/svgs/ts.svg" />
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'layout'"
  >
    <div class="icons-family-container d-flex flex-row">
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/html.svg" />
      </div>
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/scss.svg" />
      </div>
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/bootstrap.svg" />
      </div>
      <div class="icon-container icon-container-layout">
        <img class="icon-image" src="../../../assets/svgs/css.svg" />
      </div>
    </div>
  </div>
</div>
