.icons-family-container {
  flex-wrap: wrap;
  width: 70vw;
  .icon-container {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 630px) and (max-width: 1330px) {
  .icons-family-container {
    flex-wrap: wrap;
    width: 300px;
    .icon-container {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 630px) {
  .icons-family-container {
    flex-wrap: wrap;
    width: 300px;
    .icon-container {
      width: 50px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .icons-family-container {
    flex-wrap: wrap;
    width: 60vw;
    .icon-container {
      display: flex;
      justify-content: center;
      padding-right: 0;
      padding-bottom: 0;
      padding-top: 20px;
      width: 8vw;
      .icon-image {
        height: 25px;
        width: 5vw;
      }
    }
  }
}
