.project-title {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items:last baseline;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
  height: auto;


  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;

    .project-container {
      display: flex;
      flex-direction: column;
      margin: 60px;

      .image {
        width: 380px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
