.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
  height: auto;

  .list-container {
    display: flex;
    justify-content: center;

    .list {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      height: auto;

      li {
        margin-top: 2rem;
        margin-bottom: 2rem;

        .project-container {
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-color: var(--background-color-one);
          border-radius: 5px;
  
          .image {
            width: 380px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
