<h2 class="project-title">Proyectos</h2>
<section class="container">
  <span [ngClass]="{ empty: empty }">{{emptyMessage}}</span> 
  <ul class="list-container">
    <li *ngFor="let project of projects">
      <div class="project-container">
        <a [routerLink]="['/proyecto', project._id]">
          <h3>{{ project.name }}</h3>
          <img
            class="image"
            src="{{ url + 'get-image/' + project.image }}"
            *ngIf="project.image"
          />
          <div>
            {{ project.year }}
            {{ project.languages }}
          </div>
        </a>
      </div>
    </li>
  </ul>
</section>
