@media screen and (min-width: 576px) and (max-width: 991px) {
  .container {
    height: auto;
    width: 100%;

    .list-container {
      display: flex;
      justify-content: center;

      .list {
        justify-content: center;
        height: auto;

        li {
          .project-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px 0px 30px 0px;

            a {
              h3 {
                margin-bottom: 15px;
              }
            }

            .image {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    height: auto;
    width: 100%;

    .list-container {
      display: flex;
      justify-content: center;

      .list {
        justify-content: center;
        height: auto;

        li {
          .project-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px 0px 30px 0px;

            a {
              h3 {
                margin-bottom: 15px;
              }
            }

            .image {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
