<header class="header header-dark">
  <app-navbar></app-navbar>
</header>
<section class="container">
  <h2 class="title">Proyectos</h2>
  <span [ngClass]="{ empty: empty }">{{emptyMessage}}</span> 
<div class="list-container">
  <ul class="list">
    <li *ngFor="let project of projects">
      <div class="project-container">
        <a [routerLink]="['/proyecto', project._id]">
          <h3>{{ project.name }}</h3>
          <img
          alt="proyecto imagen"
            class="image"
            src="{{ url + 'get-image/' + project.image }}"
            *ngIf="project.image"
          />
          <div>
            <p><strong>Año: </strong></p>{{ project.year }}
            <p><strong>Tecnologiás: </strong></p>{{ project.languages }}
          </div>
        </a>
      </div>
    </li>
  </ul>
</div>
</section>
