@media screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Escritorio pequeño / tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Tablets y phablets */
@media screen and (min-width: 576px) and (max-width: 767px) {
}

/* Teléfonos */
@media screen and (max-width: 575px) {
  /** ***************** PRESENTACIÓN ******************* **/

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 525px;
    background-color: #111;

    .hero-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-flow: column;
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/images/iStock-1337780100.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;

      .hero-image-opacity {
        position: absolute;
        width: 100%;
        height: 525px;
        background-color: #111;
        opacity: 0.55;
        z-index: 1;
      }

      .title-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #111;
        text-align: center;
        height: auto;
        z-index: 2;

        h1 {
          font-size: 20px;
          color: #fff;
          margin-bottom: 30px;

          span {
            color: #00b8d4;
          }
        }

        h2 {
          font-size: 15px;
          color: #fff;
          font-weight: normal;
          margin: 0;
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #1a1a1a;
    height: auto;

    /** ***************** PARTE DEL ACERCA ******************* **/

    .about-title {
      height: 30px;
      margin-top: 15px;
      display: flex;
      align-items: center;

      h3 {
        margin-top: 2rem;
        font-size: 15px;
        color: #e3e3e3;
      }
    }

    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 500px;

      div {
        margin: 30px 30px 30px 30px;

        p {
          color: #e3e3e3;
          text-align: justify;
        }
      }
    }

    .icons-wrapper {
      display: flex;
      flex-flow: row;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 80px;
      width: 90px;

      .icons {
        p {
          color: #fff;
          font-size: 10px;
        }

        .mysql {
          width: 30px;
          height: 30px;
          margin-top: 15px;
        }

        .mongodb {
          width: 24px;
          height: 20px;
        }

        .nodejs {
          width: 20px;
          height: 25px;
          margin-top: 25px;
        }

        .angular {
          width: 20px;
          height: 20px;
          margin-top: 30px;
        }

        .laravel {
          width: 20px;
          height: 20px;
        }
      }
    }

    /** ***************** PROYECTOS ******************* **/

    .featured-projects {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
      background-color: white;
      width: 100%;

      .featured-title {
        h3 {
          margin-top: 45px;
          margin-bottom: 45px;
          font-size: 15px;
        }
      }

      .featured-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;

        div {
          margin: 10px;
          border-color: #e3e3e3;
          border-radius: 0.4rem;
        }

        .box-one {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          height: auto;
          margin: 0;
          margin-bottom: 20px;

          .image-one {
            width: 90%;
            height: auto;
          }

          .more-options-button-1 {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            font-size: 17px;
            color: white;
            background-color: #00bad6;
            border-radius: 5px;
          }

          .more-options-1 {
            display: none;
            position: absolute;
            border-radius: 0.4rem;
            width: 78px;
            height: 40px;
            background-color: rgb(17, 17, 17, 0.3);
            opacity: 0;
            transition: opacity 600ms;
          }
        }

        .box-two {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          height: auto;
          margin: 0;
          margin-bottom: 20px;

          .image-two {
            width: 90%;
          }

          .more-options-button-2 {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            width: 9px;
            height: 4px;
            margin-top: 5%;
            margin-left: 14px;
            font-size: 17px;
            color: white;
            background-color: #00bad6;
            border-radius: 5px;
          }

          .more-options-button-2:hover {
            background-color: #aae0e9;
            transition: background-color 120ms;
          }

          .more-options-2 {
            display: none;
            position: absolute;
            border-radius: 0.4rem;
            width: 38px;
            height: 40px;
            background-color: rgb(17, 17, 17, 0.3);
            opacity: 0;
            transition: opacity 600ms;
          }
        }

        .box-three {
          display: flex;
          flex-direction: column;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          width: 90%;
          height: auto;
          margin: 0;
          margin-bottom: 20px;

          .image-three {
            width: 90%;
          }

          .more-options-button-3 {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            width: 9px;
            height: 4px;
            margin-top: 35%;
            margin-left: 14px;
            font-size: 17px;
            color: white;
            background-color: #00bad6;
            border-radius: 5px;
          }

          .more-options-3 {
            display: none;
            position: absolute;
            border-radius: 0.4rem;
            width: 90%;
            height: 30px;
            background-color: rgb(17, 17, 17, 0.3);
            opacity: 0;
            transition: opacity 600ms;
          }
        }

        .box-four {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;

          .see-more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 30px;
            border-radius: 0.4rem;
            background-color: #00b8d4;

            h3 {
              color: #e3e3e3;
              font-size: 15px;
            }
          }

          .see-more:hover {
            background-color: #aae0e9;
            transition: background-color 120ms;
          }
        }
      }
    }
  }

  /** ***************** CONTACTO ******************* **/

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;

    .goodbye-message {
      margin-top: 55px;
      margin-bottom: 55px;

      h3 {
        font-size: 15px;
        color: #e3e3e3;
      }
    }

    h4 {
      font-size: 15px;
      color: #e3e3e3;
    }

    .send-message {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00b8d4;
      border-radius: 0.4rem;
      width: 45%;
      height: 50px;
      margin-top: 30px;

      h3 {
        color: #e3e3e3;
      }
    }
  }
  .social-media-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 55px;

    .twitter-logo {
      width:32px;
      height:32px;
    }

    .facebook-logo {
      width:28px;
      height:28px;
      margin-top: 2px;
    }

    .instagram-logo {
      width:35px;
      height:35px;
    }
  }
}
