.main {
  position: relative;
  z-index: 2;
  width: 95%;
  padding-left: 150px;

  .section-title-container {
    .main-paragraf {
      padding-top: 50px;
      padding-bottom: 50px;
      color: var(--white-paragraf);
      font-size: 30px;
    }

    .main-title {
      padding-top: 25px;
      padding-bottom: 80px;
      align-self: center;
      color: var(--white-paragraf);
      font-size: 35px;
    }
  }
}

.main-gradient {
  position: absolute;
  z-index: 1;
  height: 3200px;
  overflow: hidden;
  width: 100%;
  top: 500px;
  padding-top: 50px;
  background: linear-gradient(
    to bottom,
    #0d111700 0 2%,
    #0d1117 10% 80%,
    #0d111700 100%
  );
}

@media screen and (min-width: 575px) and (max-width: 1330px) {
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    z-index: 2;
    width: 100%;

    .main-paragraf {
      text-align: center;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 30px;
      line-height: 50px;
    }

    .main-title {
      width: auto;
      padding-top: 25px;
      padding-left: 0px;
      padding-bottom: 50px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    background-color: #0d1117;

    .section-title-container {
      .main-paragraf {
        width: 80%;
        text-align: center;
        font-size: 20px;
        padding-right: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
      }

      .main-title {
        width: auto;
        font-size: 30px;
        padding-bottom: 25px;
        padding-left: 0px;
      }
    }
  }
  .main-gradient {
    height: 1000px;
  }
}
