.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
  width: 100%;
  z-index: 3;
  right: 130px;

  .about-title {
    height: 60px;
    display: flex;
    border: none;

    h3 {
      font-size: 30px;
      color: var(--background-color-one);
    }
  }

  .about-container {
    height: 370px;
    width: 100%;

    .about {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 10px;

      .about-card{
        background-color: var(--background--color-two);
        border: solid 1px var(--border-color);
        border-radius: 5px;
        height: 300px;
        padding: 20px;
        margin: 10px;
      }

      div {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    div {
      p {
        color: var(--background-color-one);
        text-align: justify;
        line-height: 25px;
        font-size: 17px;
        height: 70%;

        a {
          font-size: 18px;
          color: var(--link-button);
        }

        a:hover {
          color: var(--link-button-hover);
        }
      }
    }
  }

  .icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 50%;

    .icons {
      p {
        color: var(--background-color-three);
      }

      .mysql {
        width: 100px;
        height: 70px;
      }

      .mongodb {
        margin-top: 25px;
        width: 83px;
        height: 47px;
      }

      .nodejs {
        width: 50px;
        height: 50px;
        margin-top: 22px;
      }

      .angular {
        margin-top: 22px;
        width: 50px;
        height: 50px;
      }

      .laravel {
        margin-top: 22px;
        width: 50px;
        height: 50px;
      }
    }
  }

  .more-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: var(--background-color-three);
    border: 0;
    border-radius: 5px;
    background-color: var(--link-button);
    width: 90px;
    height: 40px;
    cursor: pointer;
  }

  .more-about:hover {
    background-color: var(--link-button-hover);
    transition: background-color 120ms;
  }

  .featured-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: var(--background-color-two);
    width: 100%;

    .featured-title {
      h3 {
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 30px;
        color: var(--background-color-one);
      }
    }

    .featured-layout {
      display: inline-grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 35% 15%;
      width: 800px;
      margin-bottom: 110px;

      div {
        margin: 10px;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 3px 1px#0f1219;
      }

      .box-one {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
        grid-row: 1/2;
        height: 400px;
        overflow: hidden;

        .image-one {
          width: 50rem;
        }

        .more-options-button-1 {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px;
          height: 40px;
          margin-top: 23%;
          margin-left: 346px;
          font-size: 17px;
          color: var(--background-color-one);
          background-color: var(--link-button);
          border-radius: 5px;
        }

        .more-options-button-1:hover {
          background-color: var(--link-button-hover);
          transition: background-color 120ms;
        }

        .more-options-1 {
          position: absolute;
          border-radius: 0.4rem;
          width: 780px;
          height: 400px;
          background-color: rgb(17, 17, 17, 0.3);
          opacity: 0;
          transition: opacity 600ms;
        }

        .more-options-1:hover {
          transition: opacity 600ms;
          opacity: 1;
        }
      }

      .box-two {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
        grid-row: 2/4;
        height: 400px;
        overflow: hidden;

        .image-two {
          width: 50rem;
        }

        .more-options-button-2 {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px;
          height: 40px;
          margin-top: 50%;
          margin-left: 144px;
          font-size: 17px;
          color: var(--background-color-three);
          background-color: var(--link-button);
          border-radius: 5px;
        }

        .more-options-button-2:hover {
          background-color: var(--link-button-hover);
          transition: background-color 120ms;
        }

        .more-options-2 {
          display: initial;
          position: absolute;
          border-radius: 0.4rem;
          width: 380px;
          height: 400px;
          background-color: rgb(17, 17, 17, 0.3);
          opacity: 0;
          transition: opacity 600ms;
        }

        .more-options-2:hover {
          transition: opacity 600ms;
          opacity: 1;
        }
      }

      .box-three {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
        grid-row: 2/3;
        height: 300px;
        overflow: hidden;

        .image-three {
          width: 30rem;
        }

        .more-options-button-3 {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px;
          height: 40px;
          margin-top: 35%;
          margin-left: 145px;
          font-size: 17px;
          color: var(--background-color-one);
          background-color: var(--link-button);
          border-radius: 5px;
        }

        .more-options-button-3:hover {
          background-color: var(--link-button-hover);
          transition: background-color 120ms;
        }

        .more-options-3 {
          display: initial;
          position: absolute;
          border-radius: 0.4rem;
          width: 380px;
          height: 300px;
          background-color: rgb(17, 17, 17, 0.3);
          opacity: 0;
          transition: opacity 600ms;
        }

        .more-options-3:hover {
          transition: opacity 600ms;
          opacity: 1;
        }
      }

      .box-four {
        grid-column: 2/3;
        grid-row: 3/4;
        height: 84px;
        border-style: none;
        box-shadow: none;

        .see-more {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          margin-top: 20px;
          border-radius: 0.4rem;
          background-color: var(--link-button);

          h3 {
            color: var(--background-color-one);
          }
        }

        .see-more:hover {
          background-color: var(--link-button-hover);
          transition: background-color 120ms;
        }
      }
    }
  }
}
