.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 825px;
  background-color: #111;

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/iStock-1337780100.jpg");
    background-size: cover;
    z-index: 0;

    .hero-image-opacity {
      position: absolute;
      width: 100%;
      height: 825px;
      background-color: #111;
      opacity: 0.55;
      z-index: 1;
    }

    .title-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #111;
      text-align: center;
      height: auto;
      z-index: 2;

      h1 {
        font-size: 60px;
        font-family: sans-serif;
        color: #fff;
        margin: 0;

        span {
          color: #00b8d4;
        }
      }

      h2 {
        font-size: 25px;
        color: #fff;
        font-weight: normal;
        margin: 0;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;

  .goodbye-message {
    margin-top: 100px;
    margin-bottom: 100px;

    h3 {
      font-size: 30px;
      color: #e3e3e3;
    }
  }

  h4 {
    font-size: 20px;
    color: #e3e3e3;
  }

  .send-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b8d4;
    border-radius: 0.4rem;
    width: 45%;
    height: 50px;
    margin-top: 30px;

    h3 {
      color: #e3e3e3;
    }
  }
}
.social-media-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  height: 100px;
  margin: 55px;

  .twitter-logo {
    width:52px;
    height:52px;
  }

  .facebook-logo {
    width:48px;
    height:48px;
    margin-top: 2px;
  }

  .instagram-logo {
    width:55px;
    height:55px;
  }
}
