.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 825px;
  background-color: #111;
}
.hero .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/iStock-1337780100.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.hero .hero-image .hero-image-opacity {
  position: absolute;
  width: 100%;
  height: 825px;
  background-color: #111;
  opacity: 0.55;
  z-index: 1;
}
.hero .hero-image .title-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  text-align: center;
  height: auto;
  z-index: 2;
}
.hero .hero-image .title-hero h1 {
  font-size: 60px;
  color: #fff;
  margin: 0;
}
.hero .hero-image .title-hero h1 span {
  color: #00b8d4;
}
.hero .hero-image .title-hero h2 {
  font-size: 25px;
  color: #fff;
  font-weight: normal;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #1a1a1a;
  height: auto;
}
.main .about-title {
  height: 60px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.main .about-title h3 {
  margin-top: 2rem;
  font-size: 30px;
  color: #e3e3e3;
}
.main .about-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main .about {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 300px;
}
.main .about div {
  margin: 50px 50px 50px 50px;
}
.main .about div p {
  color: #e3e3e3;
}
.main .featured-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: white;
  width: 100%;
}
.main .featured-projects .featured-title h3 {
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 30px;
}
.main .featured-projects .featured-layout {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 35% 15%;
  width: 800px;
  margin-bottom: 110px;
}
.main .featured-projects .featured-layout div {
  margin: 10px;
  border-color: #e3e3e3;
  border-radius: 0.4rem;
}
.main .featured-projects .featured-layout .box-one {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1/2;
  height: 400px;
  overflow: hidden;
}
.main .featured-projects .featured-layout .box-one .image-one {
  width: 50rem;
}
.main .featured-projects .featured-layout .box-one .more-options-button-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  margin-top: 23%;
  margin-left: 346px;
  font-size: 17px;
  color: white;
  background-color: #00bad6;
  border-radius: 5px;
}
.main .featured-projects .featured-layout .box-one .more-options-button-1:hover {
  background-color: #aae0e9;
  transition: background-color 120ms;
}
.main .featured-projects .featured-layout .box-one .more-options-1 {
  position: absolute;
  border-radius: 0.4rem;
  width: 780px;
  height: 400px;
  background-color: rgba(17, 17, 17, 0.3);
  opacity: 0;
  transition: opacity 600ms;
}
.main .featured-projects .featured-layout .box-one .more-options-1:hover {
  transition: opacity 600ms;
  opacity: 1;
}
.main .featured-projects .featured-layout .box-two {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/4;
  height: 400px;
  overflow: hidden;
}
.main .featured-projects .featured-layout .box-two .image-two {
  width: 50rem;
}
.main .featured-projects .featured-layout .box-two .more-options-button-2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  margin-top: 50%;
  margin-left: 144px;
  font-size: 17px;
  color: white;
  background-color: #00bad6;
  border-radius: 5px;
}
.main .featured-projects .featured-layout .box-two .more-options-button-2:hover {
  background-color: #aae0e9;
  transition: background-color 120ms;
}
.main .featured-projects .featured-layout .box-two .more-options-2 {
  display: initial;
  position: absolute;
  border-radius: 0.4rem;
  width: 380px;
  height: 400px;
  background-color: rgba(17, 17, 17, 0.3);
  opacity: 0;
  transition: opacity 600ms;
}
.main .featured-projects .featured-layout .box-two .more-options-2:hover {
  transition: opacity 600ms;
  opacity: 1;
}
.main .featured-projects .featured-layout .box-three {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 300px;
  overflow: hidden;
}
.main .featured-projects .featured-layout .box-three .image-three {
  width: 30rem;
}
.main .featured-projects .featured-layout .box-three .more-options-button-3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  margin-top: 35%;
  margin-left: 145px;
  font-size: 17px;
  color: white;
  background-color: #00bad6;
  border-radius: 5px;
}
.main .featured-projects .featured-layout .box-three .more-options-button-3:hover {
  background-color: #aae0e9;
  transition: background-color 120ms;
}
.main .featured-projects .featured-layout .box-three .more-options-3 {
  display: initial;
  position: absolute;
  border-radius: 0.4rem;
  width: 380px;
  height: 300px;
  background-color: rgba(17, 17, 17, 0.3);
  opacity: 0;
  transition: opacity 600ms;
}
.main .featured-projects .featured-layout .box-three .more-options-3:hover {
  transition: opacity 600ms;
  opacity: 1;
}
.main .featured-projects .featured-layout .box-four {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 84px;
}
.main .featured-projects .featured-layout .box-four .see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: px;
  border-radius: 0.4rem;
  background-color: #00b8d4;
}
.main .featured-projects .featured-layout .box-four .see-more h3 {
  color: #e3e3e3;
}
.main .featured-projects .featured-layout .box-four .see-more:hover {
  background-color: #aae0e9;
  transition: background-color 120ms;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
}
.contact .goodbye-message {
  margin-top: 55px;
  margin-bottom: 55px;
}
.contact .goodbye-message h3 {
  font-size: 30px;
  color: #e3e3e3;
}
.contact h4 {
  font-size: 20px;
  color: #e3e3e3;
}
.contact .send-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b8d4;
  border-radius: 0.4rem;
  width: 45%;
  height: 50px;
  margin-top: 30px;
}
.contact .send-message h3 {
  color: #e3e3e3;
}/*# sourceMappingURL=landing-page.component.css.map */