<header class="header">
  <app-navbar></app-navbar>
</header>
<div class="hero">
  <div class="title-hero">
    <h1 class="title-hero-welcome">Bienvenidos a mi web</h1>
    <h3 class="title-hero-autor">Daniel Arturo</h3>
    <h4 class="title-hero-work">Desarrollador web full stack</h4>
    <div class="title-autor-image d-flex">
      <div class="autor-image-wrapper">
        <img class="autor-image" src="../../../assets/images/selfie.jpg" />
      </div>
      <div class="links hero-links align-self-center">
        <a target="_blank" href="http://185.77.96.216:8081/?p=45">
          <div class="link-wrapper d-flex justify-content-between">
            Curriculum
            <div class="icon-wrapper d-flex">
              <img
                class="align-self-center"
                src="../../../../../assets/svgs/cv-icon.svg"
              />
            </div>
          </div>
        </a>
        <a target="_blank" href="https://es.linkedin.com/in/daniel-berroteran?original_referer=https%3A%2F%2Fwww.google.es%2F">
          <div class="link-wrapper d-flex justify-content-between">
            Linkedin
            <div class="icon-wrapper d-flex">
              <img
                class="align-self-center"
                src="../../../../../assets/svgs/linkedin-orange.svg"
              />
            </div>
          </div>
        </a>
        <a target="_blank" href="https://github.com/Danielbn64">
          <div class="link-wrapper d-flex justify-content-between">
            Github
            <div class="icon-wrapper d-flex">
              <img
                class="align-self-center"
                src="../../../../../assets/svgs/github-orange.svg"
                alt="github-link"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="hero-image"></div>
  <div class="hero-image-opacity"></div>
</div>

<main class="main">
  <p class="paragraf main-paragraf">
    Experiencia en desarrollo de páginas web dinamicas y ha medida.
  </p>
  <app-card-main [cardInfo]="cardInfo[0]"></app-card-main>
  <app-card-main [cardInfo]="cardInfo[1]"></app-card-main>
  <app-card-main [cardInfo]="cardInfo[2]"></app-card-main>
  <h1 class="title main-title">Proyectos Destacados</h1>
  <app-card-project [project]="featured[0]"></app-card-project>
  <app-card-project [project]="featured[1]"></app-card-project>
</main>
  <app-footer></app-footer>
<div class="main-gradient"></div>
