@media screen and (min-width: 0px) and (max-width: 575px) {
  .hero {
    height: auto;

    .title-hero {
      padding-top: 80px;
      padding-right: 10px;
      padding-left: 10px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--darkening);
      text-align: center;
      height: auto;
      z-index: 1;
      width: 100%;

      .title-hero-welcome {
        font-size: 30px;
        line-height: 40px;
        margin-left: 0;
      }
      .title-hero-autor {
        font-size: 30px;
        line-height: 40px;
        margin-left: 0;
      }
      .title-hero-work {
        font-size: 30px;
        line-height: 50px;
        margin-left: 0;
      }

      .title-autor-image {
        justify-content: center;
        flex-direction: column;

        .hero-links {
          flex-direction: column;
        }

        .autor-image {
          height: 180px;
        }
      }

      .autor-image-wrapper {
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        .link-wrapper {
          padding: 8px;
          width: 120px;
          margin: 10px;
          font-size: 15px;
          text-align: center;
          .icon-wrapper {
            align-self: center;
          }
        }
      }
    }

    .hero-image {
      display:none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -5;
    }
    .hero-image-opacity {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--darkening);
      opacity: 1;
      z-index: -4;
      animation: none;
    }
  }
}
