/** ***************** GENERALES ******************* **/

* {
  margin: 0px;
  padding: 0px;
  color: #1a1a1a;
  box-sizing: border-box;
}

html {
  max-width: 100% !important;
  overflow-x: hidden !important;

  body {
    font-family: "Titillium Web", sans-serif;
    color: #aaa;

    ul {
      display: flex;

      li {
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 13.5px;
      color: #383838;
    }

    p {
      font-size: 18px;
    }

    label {
      font-size: 17px;
    }

    input {
      font-size: 17px;
      border-radius: 5px;
      border: 0;
    }

    button {
      font-size: 17px;
      color: white;
      border: 0;
      border-radius: 5px;
      background-color: #412e8bd6;
      width: 90px;
      height: 40px;
      cursor:pointer;
    }

    button:hover {
      background-color: #b4a8e8d6;
      transition: background-color 120ms;
    }
  }
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:540px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;


  h2 {
    margin: 20px;
  }

  .title{
    margin-top: 105px;
    margin-bottom: 55px;
  }
}

/** ***************** CABECERA ******************* **/

.header {
  background-color: #ffffff;
  border-bottom: solid #dadada 1px;
  position: fixed;
  height: 58px;
  width: 100%;
  z-index: 1;
}

/** ***************** CONTENIDO ******************* **/

.main-content {
  height: 100%;
  background-color: #fff;
}

/** ***************** CONSUTAS DE MEDIOS GENERALES ******************* **/

/* Teléfonos */
@media screen and (max-width: 575px) {
  .header {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    z-index: 1;
    border-bottom: none;
  }
}
